/* FONT FAMILIES */
/* FONT SIZES */
/* 12px */
/* 16px */
/* 20px */
/* 36px */
/* 48px */
/* FONT WEIGHTS */
/* COLORS */
/* SHADOWS */
/* BUTTONS */
/*H2*/
* {
  padding: 0;
  margin: 0;
  font-family: Inter var, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none;
  font-family: Inter var, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

html {
  font-size: 16px; }

@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  html {
    font-size: 16px; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  html {
    font-size: 20px; } }

.header {
  background: linear-gradient(to right, #AEBFBE, #798C8C, #59554C);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "logo nav"; }

.logo {
  grid-area: logo;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto; }

button.navbar-toggler {
  background-color: #F2EFDF;
  --bs-gutter-x: .5em;
  --bs-navbar-toggler-padding-x: .7em;
  --bs-navbar-toggler-font-size: .7em; }

.navbar > .container-fluid {
  justify-content: center; }

.navbar {
  flex-wrap: nowrap; }

.header__nav--ul {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .7em;
  margin: 0em; }

.navbar-expand-lg .navbar-collapse {
  justify-content: space-evenly; }

.header__nav--a {
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  border: 0.2em solid #F2EFDF; }

.header li {
  font-size: 0.75rem;
  padding: .1em .3em; }

.header a {
  color: #F2EFDF;
  text-decoration: none;
  padding: .2em; }

.header a:hover {
  color: #000000; }

.header__ul {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 1em;
  padding: .5em; }

.redes__ul {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em;
  display: none;
  margin: 0em 0em; }

.redes__ul li img {
  width: 1.5rem; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .header__nav--ul a {
    margin: 1.5em; }
  .header {
    grid-template-columns: auto 3fr;
    grid-template-rows: 70px 30px;
    grid-template-areas: "logo nav" "logo redes"; }
  .redes__ul {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  .header {
    grid-template-columns: 1fr 3fr .5fr;
    grid-template-rows: 100px;
    grid-template-areas: "logo nav redes"; } }

/*FORMULARIO PRINCIPAL*/
.div__form {
  margin: 1em 0px; }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "alquilar " "comprar" "emprender" "tipo" "ubicacion" "buscar";
  margin: 1em 1em; }

.alquilar {
  grid-area: alquilar; }

.comprar {
  grid-area: comprar; }

.emprender {
  grid-area: emprender; }

.tipo {
  grid-area: tipo; }

.ubicacion {
  grid-area: ubicacion; }

.buscar {
  grid-area: buscar; }

.form input {
  text-align: center;
  font-size: 0.75rem;
  margin: .1em 0em;
  padding: .7em;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  border: 0.1em solid #59554C;
  background-color: #F2EFDF; }

.form button {
  font-size: 0.75rem;
  background-color: #AEBFBE;
  color: #000000;
  margin: .1em 0em;
  padding: .5em;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  border: 0.1em solid #59554C; }

/*HERO*/
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titulo" "heroimg";
  justify-items: center; }

h1 {
  grid-area: titulo;
  position: absolute;
  grid-area: titulo;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000 0, 0, 0, 0.7;
  margin: 1em auto; }

.hero img {
  grid-area: heroimg;
  width: 100%;
  height: auto; }

/*ARTICULOS*/
.article_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "quienes" "emprende" "unete";
  margin: .5em 0rem; }

/*SECCION QUIENES SOMOS*/
.quienes {
  grid-area: quienes;
  padding: .0em .3em 0em .3em; }

.quienes__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "quienes__h2" "quienes__div--p1" "quienes__div--img1";
  align-items: center; }

.quienes h2 {
  grid-area: quienes__h2;
  font-size: 1rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #59554C; }

.quienes__div--p1 {
  grid-area: quienes__div--p1;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center;
  font-weight: 500; }

.quienes__div--img1 {
  grid-area: quienes__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

/*SECCION EMPRENDE*/
.emprende {
  grid-area: emprende;
  padding: .5em .5em 0em .5em; }

.emprende__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "emprende__h2" "emprende__div--p" "emprende__div--img1";
  align-items: center; }

.emprende h2 {
  grid-area: emprende__h2;
  font-size: 1rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000; }

.emprende__div--p {
  grid-area: emprende__div--p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center;
  font-weight: 500; }

.emprende__div--img1 {
  grid-area: emprende__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

.emprende__div--img2 {
  grid-area: emprende__div--img2;
  width: 100%;
  padding: .1em;
  border-radius: 1em;
  display: none; }

/*SECCION UNETE*/
.unete {
  grid-area: unete;
  padding: .5em .5em 0em .5em; }

.unete__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "unete__h2" "unete__div--p" "unete__div--img1"; }

.unete__h2 {
  grid-area: unete__h2;
  font-size: 1rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #ec0000; }

.unete__div--p {
  grid-area: unete__div--p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center;
  font-weight: 500; }

.unete__div--img1 {
  grid-area: unete__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

.consigna {
  display: none; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .article__index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "quienes aside" "emprende aside" "unete aside"; }
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "alquilar comprar" "emprender tipo" "ubicacion buscar";
    margin: 0em .3em; }
  .form input {
    margin: .2em; }
  .form button {
    margin: .2em; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  .form {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "alquilar comprar emprender tipo ubicacion buscar"; }
  h1 {
    font-size: 2.25rem; }
  .article__index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "quienes aside" "emprende aside" "unete aside" "consigna aside";
    align-items: center; }
  .consigna {
    grid-area: consigna;
    display: flex;
    justify-content: space-evenly; }
  .consigna img {
    max-width: 15%;
    padding: .1em; }
  .consigna ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em;
    margin: auto .5em;
    box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2; }
  .consigna li {
    font-size: 1.25rem;
    font-weight: 500;
    margin: .5em 1em;
    transform: translate x(3em);
    transition: 3s; }
  .quienes__div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "quienes__h2 quienes__h2" "quienes__div--p1 quienes__div--img1"; }
  .article p {
    font-size: 1rem; }
  .quienes__div--p1 {
    text-align: left; }
  .emprende__div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "emprende__h2 emprende__h2 emprende__h2" "emprende__div--img1  emprende__div--p emprende__div--img2";
    align-items: center; }
  .unete__div {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "unete__h2 unete__h2" "unete__div--img1 unete__div--p";
    align-items: center; }
  .emprende__div--img2 {
    display: grid; }
  .emprende__div--p {
    text-align: center; }
  .unete__div--p {
    text-align: right; } }

.article__comprar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "propiedad__1" "propiedad__2";
  margin: .5em .5em; }

/*PROPIEDAD 1*/
#propiedad__1 {
  grid-area: propiedad__1; }

#propiedad__1 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.propiedad1__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.propiedad1__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.propiedad1__ul li {
  list-style: none;
  font-size: 0.75rem; }

.propiedad1__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.propiedad1__img1 {
  width: 50%;
  padding: .2em; }

.propiedad1__img2 {
  width: 25%;
  padding: .2em; }

.propiedad1__fondo {
  background-color: #D0D9D4;
  height: 50px;
  margin: 0em .2em; }

.propiedad1__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  margin: 0em;
  padding: 0em .2em; }

.propiedad1__ul2 li {
  list-style: none;
  font-size: 0.75rem; }

.propiedad1__precio {
  color: #ec0000;
  font-weight: 700; }

/*PROPIEDAD 2*/
#propiedad__2 {
  grid-area: propiedad__2; }

#propiedad__2 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.propiedad2__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.propiedad2__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.propiedad2__ul li {
  list-style: none;
  font-size: 0.75rem; }

.propiedad2__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.propiedad2__img1 {
  width: 50%;
  padding: .2em; }

.propiedad2__img2 {
  width: 25%;
  padding: .2em; }

.propiedad2__fondo {
  background-color: #D0D9D4;
  height: 50px;
  margin: 0em .2em; }

.propiedad2__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  margin: 0em;
  padding: 0em .2em; }

.propiedad2__ul2 li {
  list-style: none;
  font-size: 0.75rem; }

.propiedad2__precio {
  color: #ec0000;
  font-weight: 700; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .article__comprar {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "propiedad__1 aside" "propiedad__2 aside" ". aside"; } }

.article__alquilar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "alquilar__1" "alquilar__2";
  margin: .5em .5em; }

/*ALQUILAR 1*/
#alquilar__1 {
  grid-area: alquilar__1; }

#alquilar__1 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.alquilar1__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.alquilar1__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.alquilar1__ul li {
  list-style: none;
  font-size: 0.75rem; }

.alquilar1__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.alquilar1__img1 {
  width: 50%;
  padding: .2em; }

.alquilar1__img2 {
  width: 25%;
  padding: .2em; }

.alquilar1__fondo {
  background-color: #D0D9D4;
  height: 50px;
  margin: 0em .2em; }

.alquilar1__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  margin: 0em;
  padding: 0em .2em; }

.alquilar1__ul2 li {
  list-style: none;
  font-size: 0.75rem; }

.alquilar1__precio {
  color: #ec0000;
  font-weight: 700; }

/*ALQUILaR 2*/
#alquilar__2 {
  grid-area: alquilar__2; }

#alquilar__2 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.alquilar2__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.alquilar2__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.alquilar2__ul li {
  list-style: none;
  font-size: 0.75rem; }

.alquilar2__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.alquilar2__img1 {
  width: 50%;
  padding: .2em; }

.alquilar2__img2 {
  width: 25%;
  padding: .2em; }

.alquilar2__fondo {
  background-color: #D0D9D4;
  height: 50px;
  margin: 0em .2em; }

.alquilar2__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  margin: 0em;
  padding: 0em .2em; }

.alquilar2__ul2 li {
  list-style: none;
  font-size: 0.75rem; }

.alquilar2__precio {
  color: #ec0000;
  font-weight: 700; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .article__alquilar {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "alquilar__1 aside" "alquilar__2 aside" ". aside"; } }

.article__emprender {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "emprender__1" "emprender__2";
  margin: .5em .5em; }

/*EMPRENDER1*/
#emprender__1 {
  grid-area: emprender__1; }

#emprender__1 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.emprender1__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

#emprender__1 li {
  list-style: none;
  font-size: 0.75rem; }

.emprender1__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.emprender1__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "emprender1__p emprender1__p" "emprender1__img1 emprender1__img1" "emprender1__div2 emprender1__div2"; }

.emprender1__img1 {
  grid-area: emprender1__img1;
  width: 100%;
  padding: .2em 1em;
  margin: auto; }

.emprender1__p {
  grid-area: emprender1__p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center;
  font-weight: 500; }

.emprender1__div2 {
  grid-area: emprender1__div2;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.emprender1__img2 {
  width: 25%;
  padding: .2em; }

/*EMPRENDER1*/
#emprender__2 {
  grid-area: emprender__2; }

#emprender__2 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000000;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.emprender2__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

#emprender__2 li {
  list-style: none;
  font-size: 0.75rem; }

.emprender2__ul a {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  background-color: #ec0000;
  color: #ffffff; }

.emprender2__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "emprender2__p emprender2__p" "emprender2__img1 emprender2__img1" "emprender2__div2 emprender2__div2"; }

.emprender2__img1 {
  grid-area: emprender2__img1;
  width: 100%;
  padding: .2em;
  margin: auto; }

.emprender2__p {
  grid-area: emprender2__p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center;
  font-weight: 500; }

.emprender2__div2 {
  grid-area: emprender2__div2;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto; }

.emprender2__img2 {
  width: 25%;
  padding: .2em; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .article__emprender {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "emprender__1 aside" "emprender__2 aside" ". aside"; } }

.contactanos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: " contactanos__form" "mapa";
  margin: .5em .5em;
  align-items: center; }

.contactanos__form {
  grid-area: contactanos__form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em .7em;
  background-color: #F2EFDF;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: 1em;
  margin: .3em .7em; }

.contactanos h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: .7em auto .1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #59554C; }

.contactanos p {
  font-size: 0.75rem;
  text-align: center;
  margin: .7em; }

.contactanos input {
  font-size: 0.75rem;
  border-radius: .5em;
  padding: .5em;
  color: #ffffff;
  margin-top: .7em;
  width: 70%; }

.input__text {
  border-radius: .5em;
  padding: .5em;
  color: #ffffff;
  width: 70%; }

.input__submit {
  border-radius: .5em;
  padding: .5em;
  background-color: #ec0000;
  color: #ffffff;
  width: 70%; }

.contactanos__img {
  grid-area: contactanos__img;
  display: none; }

.contactanos img {
  width: 100%; }

.logo__contactanos {
  grid-area: logo__contactanos;
  display: none; }

.mapa {
  grid-area: mapa; }

@media only screen and (min-width: 401px) {
  /*DESKTOP STYLE */
  .contactanos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contactanos__form contactanos__img " "logo__contactanos contactanos__img" "mapa mapa"; }
  .contactanos__img {
    display: grid; }
  .logo__contactanos {
    display: grid; }
  .logo__contactanos img {
    width: 40%;
    margin: auto; } }

.aside {
  grid-area: aside;
  display: none; }

.section_aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "aside__1" "aside__2" "aside__3";
  align-content: spa;
  align-items: center; }

.aside__1 {
  grid-area: aside__1; }

.aside__2 {
  grid-area: aside__2; }

.aside__comprar3 {
  grid-area: aside__3; }

.aside__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "aside__img" "aside__ul";
  justify-items: center;
  background-color: #D0D9D4;
  box-shadow: 0.7em 0.7em 0.7em #000000 0, 0, 0, 0.2;
  border-radius: .5em;
  margin: .3em .7em; }

.aside__img {
  grid-area: aside__img;
  width: 100%;
  background-image: cover;
  padding: 1em 1em .3em 1em; }

.aside__ul {
  grid-area: aside__ul;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  margin: 0em;
  padding: 0.3em 0em 0.5em 0em;
  font-weight: 500; }

.aside__ul li {
  font-size: 0.75rem;
  padding: .0em .0em;
  text-align: center; }

.aside__a {
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  background-color: #ec0000;
  border-radius: .5em;
  padding: .5em;
  /* CARDS */
  color: #ffffff;
  margin: .2em 0em; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  .aside {
    display: grid; } }

.footer {
  background: linear-gradient(to right, #59554C, #798C8C, #AEBFBE);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav redes"; }

.footer ul {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: .7em;
  margin: .0em; }

.footer__redes--ul {
  grid-area: redes;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: .5em;
  margin: 0em 0em; }

.footer a {
  color: #F2EFDF; }

.footer a:hover {
  color: #000000; }

.footer li {
  font-size: .8rem;
  padding: .1em .3em; }

.footer__nro {
  color: #000000;
  margin: auto, 0px; }

.footer__redes--ul img {
  width: 1.5rem; }
