* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none; }

html {
  font-size: 16px; }

@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  html {
    font-size: 16px; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  html {
    font-size: 20px; } }

/* FONT FAMILIES */
/* FONT SIZES */
/* 12px */
/* 16px */
/* 20px */
/* 36px */
/* 48px */
/* FONT WEIGHTS */
/* COLORS */
/** SHADOWS */
.header {
  background: linear-gradient(to right, #AEBFBE, #798C8C, #59554C);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "logo nav"; }

.logo {
  grid-area: logo;
  max-width: 100%;
  height: 100%;
  object-fit: cover; }

button.navbar-toggler {
  background-color: #F2EFDF;
  --bs-gutter-x: .5em;
  --bs-navbar-toggler-padding-x: .7em;
  --bs-navbar-toggler-font-size: .7em; }

.navbar > .container-fluid {
  justify-content: center; }

.navbar {
  flex-wrap: nowrap; }

.header__nav--ul {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .7em;
  margin: 0em; }

.navbar-expand-lg .navbar-collapse {
  justify-content: space-evenly; }

.header__nav--a {
  border: 0.2em solid #F2EFDF;
  border-radius: .5em;
  padding: .5em; }

.header li {
  font-size: 0.75rem;
  padding: .1em .3em; }

.header a {
  color: #F2EFDF;
  text-decoration: none;
  padding: .2em; }

.header a:hover {
  color: #000000; }

.header__ul {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 1em;
  padding: .5em; }

.redes__ul {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em;
  display: none;
  margin: 0em 0em; }

.redes__ul li img {
  width: 1.5em; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .header__nav--ul a {
    margin: 1.5em; }
  .header {
    grid-template-columns: auto 3fr;
    grid-template-rows: 70px 30px;
    grid-template-areas: "logo nav" "logo redes"; }
  .redes__ul {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  .header {
    grid-template-columns: auto 3fr .5fr;
    grid-template-rows: 100px;
    grid-template-areas: "logo nav redes"; } }

h1 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 1000;
  margin-bottom: 1em;
  color: #ec0000;
  align-items: center; }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "alquilar " "comprar" "emprender" "tipo" "ubicacion" "buscar";
  margin: 0em 1em; }

.alquilar {
  grid-area: alquilar; }

.comprar {
  grid-area: comprar; }

.emprender {
  grid-area: emprender; }

.tipo {
  grid-area: tipo; }

.ubicacion {
  grid-area: ubicacion; }

.buscar {
  grid-area: buscar; }

.form input {
  text-align: center;
  font-size: .8rem;
  margin: .1em 0em;
  padding: 1em; }

.form button {
  font-size: 0.75rem;
  background-color: #7a7a7a;
  color: white;
  margin: .1em 0em;
  padding: .5em; }

/*IMAGENES HEROE*/
.article_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "quienes" "emprende" "unete";
  margin: .5rem 0rem; }

.imgheroe {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: .5rem 0rem;
  background-image: url(/img/fondo.jpg);
  background-size: cover; }

.carousel__img {
  max-width: 100%; }

/*SECCION QUIENES SOMOS*/
.quienes {
  grid-area: quienes;
  padding: .0em .5em 0em .5em; }

.quienes__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "quienes__h2" "quienes__div--p1" "quienes__div--img1";
  align-items: center; }

.quienes h2 {
  grid-area: quienes__h2;
  font-size: 1rem;
  color: gray;
  margin: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-weight: bold; }

.quienes__div--p1 {
  grid-area: quienes__div--p1;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #e9e9e9;
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center; }

.quienes__div--p2 {
  grid-area: quienes__div--p2;
  text-align: justify;
  text-indent: 20px;
  font-size: .8rem;
  padding: 2em 2em;
  background-color: #e9e9e9;
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin: .3em .7em;
  display: none;
  align-items: center; }

.quienes__div--img1 {
  grid-area: quienes__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

.quienes__div--img2 {
  grid-area: quienes__div--img2;
  width: 100%;
  padding: .5em;
  border-radius: 1em;
  display: none; }

/*SECCION EMPRENDE*/
.emprende {
  grid-area: emprende;
  padding: .5em .5em 0em .5em; }

.emprende__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "emprende__h2" "emprende__div--p" "emprende__div--img1";
  align-items: center; }

.emprende h2 {
  grid-area: emprende__h2;
  font-size: 1rem;
  color: black;
  margin: .0em .0em .7em 0em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-weight: bold; }

.emprende__div--p {
  grid-area: emprende__div--p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #e9e9e9;
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin: .3em .7em;
  align-items: center; }

.emprende__div--img1 {
  grid-area: emprende__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

.emprende__div--img2 {
  grid-area: emprende__div--img2;
  width: 100%;
  padding: .5em;
  border-radius: 1em;
  display: none; }

/*SECCION UNETE*/
.unete {
  grid-area: unete;
  padding: .5em .5em 0em .5em; }

.unete__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "unete__h2" "unete__div--p" "unete__div--img1"; }

.unete__h2 {
  grid-area: unete__h2;
  font-size: 1rem;
  color: red;
  margin: .0em .0em .7em 0em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-weight: bold; }

.unete__div--p {
  grid-area: unete__div--p;
  text-align: justify;
  text-indent: 1.5rem;
  font-size: .8rem;
  padding: 1em 1em;
  background-color: #e9e9e9;
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin: .3em .7em; }

.unete__div--img1 {
  grid-area: unete__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em; }

.unete__div--img2 {
  grid-area: unete__div--img1;
  width: 100%;
  padding: .5em;
  border-radius: 1em;
  display: none; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  article__index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "quienes aside" "emprende aside" "unete aside"; }
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "alquilar comprar" "emprender tipo" "ubicacion buscar";
    margin: 0em .3em; }
  .form input {
    margin: .2em; }
  .form button {
    margin: .2em; } }

@media only screen and (min-width: 961px) {
  /*DESKTOP STYLE */
  .form {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "alquilar comprar emprender tipo ubicacion buscar"; }
  .article__index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "quienes aside" "emprende aside" "unete aside";
    align-items: center; }
  .quienes__div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "quienes__h2 quienes__h2" "quienes__div--p1 quienes__div--img1";
    margin-top: 0rem; }
  .article p {
    font-size: 1rem; }
  .quienes__div--p1 {
    text-align: left; }
  .emprende__div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "emprende__h2 emprende__h2 emprende__h2" "emprende__div--img1  emprende__div--p emprende__div--img2";
    align-items: center; }
  .unete__div {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "unete__h2 unete__h2" "unete__div--img1 unete__div--p";
    align-items: center; }
  .emprende__div--img2 {
    display: grid; }
  .emprende__div--p {
    text-align: center; }
  .unete__div--p {
    text-align: right; } }

/*PROPIEDAD 1*/
#propiedad__1 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.propiedad1__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.propiedad1__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.propiedad1__ul li {
  list-style: none;
  font-size: .8rem; }

.propiedad1__ul a {
  font-size: .8rem;
  padding: .5em;
  border-radius: .5em;
  background-color: red;
  color: white; }

.propiedad1__ul--img1 {
  width: 49.5%;
  padding: 3px; }

.propiedad1__ul--img2 {
  width: 24.5%;
  padding: 3px; }

.propiedad1__fondo {
  background-color: #dddddd;
  height: 75px; }

.propiedad1__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 75px; }

.propiedad1__ul2 li {
  list-style: none;
  font-size: .8rem; }

.propiedad1__precio {
  color: red;
  font-weight: bold; }

/*PROPIEDAD 2*/
#propiedad__2 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.propiedad2__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.propiedad2__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.propiedad2__ul li {
  list-style: none;
  font-size: .8rem; }

.propiedad2__ul a {
  font-size: .8rem;
  padding: .5em;
  border-radius: .5em;
  background-color: red;
  color: white; }

.propiedad2__ul--img1 {
  width: 49.5%;
  padding: 3px; }

.propiedad2__ul--img2 {
  width: 24.5%;
  padding: 3px; }

.propiedad2__fondo {
  background-color: #dddddd;
  height: 75px; }

.propiedad2__ul2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 75px; }

.propiedad2__ul2 li {
  list-style: none;
  font-size: .8rem; }

.propiedad2__precio {
  color: red;
  font-weight: bold; }

/*ALQUILER 1*/
#alquiler1 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.alqui1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.descriptriun1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0em;
  padding: 0em; }

#alquiler1 li {
  list-style: none;
  font-size: .8rem; }

.descriptriun1 a {
  font-size: .8rem;
  padding: .5em;
  border-radius: .5em;
  background-color: red;
  color: white; }

.imgtriun1 {
  width: 48%;
  padding: 3px; }

.imgtriun2 {
  width: 25%;
  padding: 3px; }

.fondotriun1 {
  background-color: #dddddd;
  height: 75px; }

.descriptriun2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 75px; }

.preciotriun1 {
  color: red;
  font-weight: bold; }

/*ALQUILER 2*/
.alquiler2 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.alqui2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.descriplocal1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

.alquiler2 li {
  list-style: none;
  font-size: .8rem; }

.descriplocal1 a {
  font-size: .8rem;
  margin-left: .5em;
  padding: .5em;
  background-color: red;
  color: white; }

.imglocalcab1 {
  width: 48%;
  padding: 3px; }

.imglocalcab2 {
  width: 25%;
  padding: 3px; }

.fondolocal1 {
  background-color: #dddddd;
  height: 75px; }

.descriplocal2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 75px; }

.preciolocal1 {
  color: red;
  font-weight: bold; }

/*EMPRENDIMIENTO 1*/
#emprende__1 h2 {
  font-size: 1.5rem;
  color: gray;
  margin-top: .7em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-weight: bold; }

.empre1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.descripalto1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em; }

#emprende__1 li {
  list-style: none;
  font-size: .8rem; }

.descripalto1 a {
  font-size: .8rem;
  padding: .5em;
  background-color: red;
  color: white; }

.imgalto1 {
  width: 48.2%;
  margin: .6em;
  justify-items: center;
  justify-content: center;
  align-items: center; }

.imgalto2 {
  width: 24.5%;
  padding: 3px; }

#emprende__1 p {
  width: 98%;
  padding: 1em;
  margin: auto;
  text-align: justify;
  text-indent: 1em;
  font-size: .7rem;
  background-color: #e9e9e9;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); }

.formatocontactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .7em;
  background-color: #e9e9e9;
  width: auto; }

.contactanos div {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 0px; }

.contactanos p {
  font-size: .8rem;
  width: 45%;
  text-align: center;
  margin: .7em; }

.contactanos input {
  padding: .5em;
  font-size: .8rem;
  margin-bottom: .7em;
  width: 45%;
  overflow: visible; }

.formcontactos {
  height: auto;
  padding: .5em; }

.botonformulario {
  background-color: red;
  font-size: 25px;
  color: white;
  font-weight: bold; }

.formatocontactos img {
  width: 45%;
  margin: .01em; }

.mapa {
  width: 100%; }

.aside {
  grid-area: aside;
  display: none; }

.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "aside__1" "aside__2" "aside__3";
  align-content: spa;
  align-items: center; }

.aside__1 {
  grid-area: aside__1; }

.aside__2 {
  grid-area: aside__2; }

.aside__comprar3 {
  grid-area: aside__3; }

.aside__div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "aside__img" "aside__ul";
  justify-items: center;
  background-color: #f3f2f2;
  box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.2);
  border-radius: .5em;
  margin: .3em .7em; }

.aside__img {
  grid-area: aside__img;
  width: 100%;
  background-image: cover;
  padding: 1em 1em .3em 1em; }

.aside__ul {
  grid-area: aside__ul;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  margin: 0em;
  padding: 0.3em 0em 0.5em 0em;
  font-weight: bold; }

.aside__ul li {
  font-size: .8rem;
  padding: .0em .0em;
  text-align: center; }

.aside__a {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #7a7a7a;
  border-radius: 1em;
  color: white;
  margin: .2em 0em;
  padding: .5em; }

/* @media(min-width:400px){ MOBILE*/
@media only screen and (min-width: 401px) {
  /*TABLET STYLE */
  .aside {
    display: grid; } }

.footer {
  background-color: gray;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav redes"; }

.footer ul {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: .7em;
  margin: .0em; }

.footer__redes--ul {
  grid-area: redes;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: .5em;
  margin: 0em 0em; }

.footer a {
  color: white;
  text-decoration: none; }

.footer li {
  font-size: .8rem;
  padding: .1em .3em; }

.footer__nro {
  color: red; }

.footer__redes--ul img {
  width: 1.5rem; }
