.aside {
    grid-area: aside;
    display: none;
    background-color: $color-1;
    border-radius: .5em;
    padding: .3em;
}

.section_aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "aside__1"
        "aside__2"
        "aside__3"
        "aside__4";
    align-content: spa;
    align-items: center;
}

.aside__1 {
    grid-area: aside__1;
}

.aside__2 {
    grid-area: aside__2;
}

.aside__3 {
    grid-area: aside__3;
}

.aside__4 {
    grid-area: aside__4;
}

.aside__div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "aside__img"
        "aside__ul";
    justify-items: center;
    background-color: $color-2;
    box-shadow: $shadow;
    border-radius: .5em;
    margin: .3em .3em;
}

.aside__img {
    grid-area: aside__img;
    width: 100%;
    background-image: cover;
    padding: 1em 1em .3em 1em;
}

.aside__ul {
    grid-area: aside__ul;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    margin: 0em;
    padding: .3em 0em.5em 0em;
    font-weight: $font-medium;

    li {
        font-size: $font-s;
        padding: .0em .0em;
        text-align: center;
    }
}

.aside__a {
    font-size: $font-s;
    font-weight: $font-medium;
    text-decoration: none;
    background-color: $color-6;
    @include buttons;
    color: $color-0;
    margin: .2em 0em;
}

/* @media(min-width:400px){ MOBILE*/

@media only screen and (min-width:401px) {
    .aside {
        display: grid;
    }
}
