.header {
    background: linear-gradient(to right, $color-3, $color-4, $color-5);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo nav";

    li {
        font-size: $font-xs;
        padding: .1em .3em;
    }

    a {
        color: $color-1;
        padding: .2em;
    }

    a:hover {
        color: $color-7;
    }
}

.logo {
    grid-area: logo;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    transition: 2s;
    transform: rotateY(380deg);
}

button.navbar-toggler {
    background-color: $color-1;
    --bs-gutter-x: .5em;
    --bs-navbar-toggler-padding-x: .7em;
    --bs-navbar-toggler-font-size: .7em;
}

.navbar>.container-fluid {
    justify-content: center;
}

.navbar {
    flex-wrap: nowrap;
}

.header__nav--ul {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .7em;
    margin: 0em;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly;
}

.header__nav--a {
    @include buttons;
    border: .2em solid $color-1;
}

.header__ul {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 1em;
    padding: .5em;
}

.redes__ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: .5em;
    display: none;
    margin: 0em 0em;

    li {
        img {
            width: 1.5rem;
        }
    }
}

/* @media(min-width:400px){ MOBILE*/

@media only screen and (min-width:401px) {

    /*TABLET STYLE */
    .header__nav--ul {
        a {
            margin: 1.5em;
        }

        li {
            font-size: $font-s;
        }
    }

    .header {
        grid-template-columns: auto 3fr;
        grid-template-rows: 70px 30px;
        grid-template-areas:
            "logo nav"
            "logo redes";
    }

    .redes__ul {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:961px) {

    /*DESKTOP STYLE */
    .header {
        grid-template-columns: 1fr 3fr .5fr;
        grid-template-rows: 100px;
        grid-template-areas:
            "logo nav redes";
    }
}