.article__alquilar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "emprender__1"
        "emprender__2";
    margin: .5em .5em;
}
/*EMPRENDER1*/

#emprender__1{
    grid-area: emprender__1;
}
#emprender__1 h2 {
    @include propiedad__h2;
}

.emprender1__div{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.descripalto1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;

}

#emprende__1 li {
    list-style: none;
    font-size: .8rem;
}

.descripalto1 a {
    font-size: .8rem;
    padding: .5em;
    background-color: red;
    color: white;
}

.imgalto1 {
    width: 48.2%;
    margin: .6em;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.imgalto2 {
    width: 24.5%;
    padding: 3px;
}

#emprende__1 p {
    width: 98%;
    padding: 1em;
    margin: auto;
    text-align: justify;
    text-indent: 1em;
    font-size: .7rem;
    background-color: rgb(233, 233, 233);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}