/*PROPIEDAD 1*/

#propiedad__1 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    margin-top: .7em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.propiedad1__div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.propiedad1__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;
}

.propiedad1__ul li {
    list-style: none;
    font-size: .8rem;
}

.propiedad1__ul a {
    font-size: .8rem;
    padding: .5em;
    border-radius: .5em;
    background-color: red;
    color: white;
}

.propiedad1__ul--img1 {
    width: 49.5%;
    padding: 3px;
}

.propiedad1__ul--img2 {
    width: 24.5%;
    padding: 3px;
}

.propiedad1__fondo {
    background-color: rgb(221, 221, 221);
    height: 75px;
}

.propiedad1__ul2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    
}

.propiedad1__ul2 li{
    list-style: none;
    font-size: .8rem;
}
.propiedad1__precio {
    color: red;
    font-weight: bold;
}


/*PROPIEDAD 2*/

#propiedad__2 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    margin-top: .7em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.propiedad2__div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.propiedad2__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;
}

.propiedad2__ul li {
    list-style: none;
    font-size: .8rem;
}

.propiedad2__ul a {
    font-size: .8rem;
    padding: .5em;
    border-radius: .5em;
    background-color: red;
    color: white;
}

.propiedad2__ul--img1 {
    width: 49.5%;
    padding: 3px;
}

.propiedad2__ul--img2 {
    width: 24.5%;
    padding: 3px;
}

.propiedad2__fondo {
    background-color: rgb(221, 221, 221);
    height: 75px;
}

.propiedad2__ul2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
}

.propiedad2__ul2 li{
    list-style: none;
    font-size: .8rem;
}
.propiedad2__precio {
    color: red;
    font-weight: bold;
}