/*FORMULARIO PRINCIPAL*/

.div__form {
    margin: 1em 0px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "alquilar "
        "comprar"
        "emprender"
        "tipo"
        "ubicacion"
        "buscar";
    margin: 1em 1em;
}

.alquilar {
    grid-area: alquilar;
}

.comprar {
    grid-area: comprar;
}

.emprender {
    grid-area: emprender;
}

.tipo {
    grid-area: tipo;
}

.ubicacion {
    grid-area: ubicacion;
}

.buscar {
    grid-area: buscar;
}

.form input {
    text-align: center;
    font-size: $font-xs;
    margin: .1em 0em;
    padding: .7em;
    @include buttons;
    border: .1em solid $color-5;
    background-color: $color-1;
}

.form button {
    font-size: $font-xs;
    background-color: $color-3;
    color: $color-7;
    margin: .1em 0em;
    padding: .5em;
    @include buttons;
    border: .1em solid $color-5;
}

/*HERO*/

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo"
        "heroimg";
    justify-items: center;
}

h1 {
    grid-area: titulo;
    position: absolute;
    grid-area: titulo;
    text-align: center;
    font-size: $font-l;
    font-weight: $font-bold;
    color: $color-0;
    background-color: $color-7(0, 0, 0, 0.7);
    margin: 1em auto;
}

.hero img {
    grid-area: heroimg;
    width: 100%;
    height: auto;
}

/*ARTICULOS*/

.article_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "quienes"
        "emprende"
        "unete";
    margin: .5em 0rem;
}

/*SECCION QUIENES SOMOS*/

.quienes {
    grid-area: quienes;
    padding: .0em .3em 0em .3em;
}

.quienes__div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "quienes__h2"
        "quienes__div--p1"
        "quienes__div--img1";
    align-items: center;
}

.quienes h2 {
    grid-area: quienes__h2;
    @include h2 ($color-5, $font-s)
}

.quienes__div--p1 {
    grid-area: quienes__div--p1;
    @include cards
}

.quienes__div--img1 {
    grid-area: quienes__div--img1;
    width: 100%;
    padding: .5em;
    border-radius: 1em;
}

/*SECCION EMPRENDE*/

.emprende {
    grid-area: emprende;
    padding: .5em .5em 0em .5em;
}

.emprende__div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "emprende__h2"
        "emprende__div--p"
        "emprende__div--img1";
    align-items: center;
}

.emprende h2 {
    grid-area: emprende__h2;
    @include h2 ($color-7, $font-s)
}

.emprende__div--p {
    grid-area: emprende__div--p;
    @include cards
}

.emprende__div--img1 {
    grid-area: emprende__div--img1;
    width: 100%;
    padding: .5em;
    border-radius: 1em;
}

.emprende__div--img2 {
    grid-area: emprende__div--img2;
    width: 100%;
    padding: .1em;
    border-radius: 1em;
    display: none;
}

/*SECCION UNETE*/

.unete {
    grid-area: unete;
    padding: .5em .5em 0em .5em;
}

.unete__div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "unete__h2"
        "unete__div--p"
        "unete__div--img1"
}

.unete__h2 {
    grid-area: unete__h2;
    @include h2 ($color-6, $font-s)
}

.unete__div--p {
    grid-area: unete__div--p;
    @include cards
}

.unete__div--img1 {
    grid-area: unete__div--img1;
    width: 100%;
    padding: .5em;
    border-radius: 1em;
}
.consigna {
    display: none;
}
/* @media(min-width:400px){ MOBILE*/

@media only screen and (min-width:401px) {
    /*TABLET STYLE */

    .article__index {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "quienes aside"
            "emprende aside"
            "unete aside";
    }

    .form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "alquilar comprar"
            "emprender tipo"
            "ubicacion buscar";
        margin: 0em .3em;
    }

    .form input {
        margin: .2em;
    }

    .form button {
        margin: .2em;
    }
}

@media only screen and (min-width:961px) {
    /*DESKTOP STYLE */

    .form {
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "alquilar comprar emprender tipo ubicacion buscar";
    }

    h1 {
        font-size: $font-xl;
    }

    .article__index {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "quienes aside"
            "emprende aside"
            "unete aside"
            "consigna aside";
        align-items: center
    }
    .consigna {
        grid-area: consigna;
        display: flex;
        justify-content: space-evenly;
    }
    .consigna img {
        max-width: 15%;
        padding: .1em;
    }
    .consigna ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .5em;
        margin: auto .5em;
        box-shadow: .7em .7em .7em $color-7(0, 0, 0, 0.2);
    }
    .consigna li{
        font-size: $font-l; 
        font-weight: $font-medium;
        margin: .5em 1em;
    }
    .quienes__div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "quienes__h2 quienes__h2"
            "quienes__div--p1 quienes__div--img1";
    }
    .article p {
        font-size: 1rem;
    }

    .quienes__div--p1 {
        text-align: left;
    }

    .emprende__div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "emprende__h2 emprende__h2 emprende__h2"
            "emprende__div--img1  emprende__div--p emprende__div--img2";
        align-items: center;
    }

    .unete__div {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "unete__h2 unete__h2"
            "unete__div--img1 unete__div--p";
        align-items: center;
    }

    .emprende__div--img2 {
        display: grid;
    }

    .emprende__div--p {
        text-align: center;
    }

    .unete__div--p {
        text-align: right;
    }
}