.article__emprender {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "emprender__1"
        "emprender__2";
    margin: .5em .5em;
}

/*EMPRENDER1*/

#emprender__1 {
    grid-area: emprender__1;
}

#emprender__1 h2 {
    @include propiedad__h2;
}

.emprender1__ul {
    @include propiedad__ul;
}

#emprender__1 li {
    @include propiedad__li;
}

.emprender1__ul a {
    @include propiedad__a;
}

.emprender1__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "emprender1__p emprender1__p"
        "emprender1__img1 emprender1__img1"
        "emprender1__div2 emprender1__div2";
}

.emprender1__img1 {
    grid-area: emprender1__img1;
    width: 100%;
    padding: .2em 1em;
    margin: auto;
}

.emprender1__p {
    grid-area: emprender1__p;
    @include cards;
}

.emprender1__div2 {
    grid-area: emprender1__div2;
    @include propiedad__div;
}

.emprender1__img2 {
    @include propiedad__img2;
}

/*EMPRENDER1*/

#emprender__2 {
    grid-area: emprender__2;
}

#emprender__2 h2 {
    @include propiedad__h2;
}

.emprender2__ul {
    @include propiedad__ul;
}

#emprender__2 li {
    @include propiedad__li;
}

.emprender2__ul a {
    @include propiedad__a;
}

.emprender2__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "emprender2__p emprender2__p"
        "emprender2__img1 emprender2__img1"
        "emprender2__div2 emprender2__div2";
}

.emprender2__img1 {
    grid-area: emprender2__img1;
    width: 100%;
    padding: .2em;
    margin: auto;
}

.emprender2__p {
    grid-area: emprender2__p;
    @include cards;
}

.emprender2__div2 {
    grid-area: emprender2__div2;
    @include propiedad__div;
}

.emprender2__img2 {
    @include propiedad__img2;
}

/* @media(min-width:400px){ MOBILE*/

@media only screen and (min-width:401px) {
    /*TABLET STYLE */

    .article__emprender {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "emprender__1 aside"
            "emprender__2 aside"
            ". aside";
    }
}