/*EMPRENDIMIENTO 1*/

#emprende__1 h2 {
    font-size: 1.5rem;
    color: gray;
    margin-top: .7em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.empre1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.descripalto1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;

}

#emprende__1 li {
    list-style: none;
    font-size: .8rem;
}

.descripalto1 a {
    font-size: .8rem;
    padding: .5em;
    background-color: red;
    color: white;
}

.imgalto1 {
    width: 45.5%;
    padding: 3px;
}

.imgalto2 {
    width: 24.5%;
    padding: 3px;
}

#emprende__1 p {
    width: 54%;
    padding: 1em;
    margin-top: 1em;
    text-align: left;
    text-indent: 1em;
    font-size: .7rem;
    background-color: rgb(233, 233, 233);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}