.article__comprar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "h1"
        "propiedad__1"
        "propiedad__2";
    margin: .5em .5em;
}

.h1__pages {
    @include h1__pages;
}

/*PROPIEDAD 1*/

#propiedad__1 {
    grid-area: propiedad__1;

    h2 {
        @include propiedad__h2;
    }
}

.propiedad1__div {
    @include propiedad__div;
}

.propiedad1__ul {
    @include propiedad__ul;

    li {
        @include propiedad__li;
    }

    a {
        @include propiedad__a;
    }
}

.propiedad1__img1 {
    @include propiedad__img1;
}

.propiedad1__img2 {
    @include propiedad__img2
}

.propiedad1__fondo {
    @include propiedad__fondo;
}

.propiedad1__ul2 {
    @include propiedad__ul2;

    li {
        @include propiedad__li;
    }
}

.propiedad1__precio {
    @include propiedad__precio;
}

/*PROPIEDAD 2*/

#propiedad__2 {
    grid-area: propiedad__2;

    h2 {
        @include propiedad__h2;
    }
}

.propiedad2__div {
    @include propiedad__div;
}

.propiedad2__ul {
    @include propiedad__ul;

    li {
        @include propiedad__li;
    }

    a {
        @include propiedad__a;
    }
}

.propiedad2__img1 {
    @include propiedad__img1;
}

.propiedad2__img2 {
    @include propiedad__img2;
}

.propiedad2__fondo {
    @include propiedad__fondo;
}

.propiedad2__ul2 {
    @include propiedad__ul2;

    li {
        @include propiedad__li;
    }
}

.propiedad2__precio {
    @include propiedad__precio;
}

/* @media(min-width:400px){ MOBILE*/

@media only screen and (min-width:401px) {
    /*TABLET STYLE */

    .article__comprar {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "h1 aside"
            "propiedad__1 aside"
            "propiedad__2 aside"
            ". aside";
    }

    #propiedad__1 {
        li {
            font-size: $font-s;
        }

        a {
            font-size: $font-s;
        }
    }

    #propiedad__2 {
        li {
            font-size: $font-s;
        }

        a {
            font-size: $font-s;
        }
    }
}