.formatocontactos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .7em;
    background-color: rgb(233, 233, 233);
    width: auto
}

.contactanos div {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 0px;
}

.contactanos p {
    font-size: .8rem;
    width: 45%;
    text-align: center;
    margin: .7em;
}

.contactanos input {
    padding: .5em;
    font-size: .8rem;
    margin-bottom: .7em;
    width: 45%;
    overflow: visible;
}

.formcontactos {
    height: auto;
    padding: .5em;
}

.botonformulario {
    background-color: red;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.formatocontactos img {
    width: 45%;
    margin: .01em;
}

.mapa {
    width: 100%;
}