.article__alquilar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "alquilar__1"
        "alquilar__2";
    margin: .5em .5em;
}

/*ALQUILAR 1*/

#alquilar__1{
    grid-area: alquilar__1;
}

#alquilar__1 h2 {
    @include propiedad__h2;
}

.alquilar1__div {
    @include propiedad__div;
}

.alquilar1__ul {
    @include propiedad__ul;
}

.alquilar1__ul li {
    @include propiedad__li;
}

.alquilar1__ul a{
    @include propiedad__a;
}

.alquilar1__img1 {
    @include propiedad__img1;
}

.alquilar1__img2 {
    @include propiedad__img2;
}

.alquilar1__fondo {
    @include propiedad__fondo;
}

.alquilar1__ul2{
    @include propiedad__ul2;
}

.alquilar1__ul2 li {
    @include propiedad__li;
}

.alquilar1__precio {
    color: red;
    @include propiedad__precio;
}



/*ALQUILaR 2*/

#alquilar__2{
    grid-area: alquilar__2;
}

#alquilar__2 h2 {
    @include propiedad__h2;
}

.alquilar2__div {
    @include propiedad__div;
}

.alquilar2__ul {
    @include propiedad__ul;
}

.alquilar2__ul li {
    @include propiedad__li;
}

.alquilar2__ul a{
    @include propiedad__a;
}

.alquilar2__img1 {
    @include propiedad__img1;
}

.alquilar2__img2 {
    @include propiedad__img2;
}

.alquilar2__fondo {
    @include propiedad__fondo;
}

.alquilar2__ul2{
    @include propiedad__ul2;
}

.alquilar2__ul2 li {
    @include propiedad__li;
}

.alquilar2__precio {
    color: red;
    @include propiedad__precio;
}

/* @media(min-width:400px){ MOBILE*/

    @media only screen and (min-width:401px) {
        /*TABLET STYLE */

    .article__alquilar {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "alquilar__1 aside"
        "alquilar__2 aside"
        ". aside";
    }
}