/*PROPIEDAD 1*/

.propiedad1 h2 {
    font-size: 50px;
    font-weight: bold;
    color: gray;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.prop1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.descripcabildo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    margin-bottom: 50px;
}

.propiedad1 li {
    list-style: none;
    font-size: 20px;
    margin-right: 30px;
}

.propiedad1 a {
    font-size: 30px;
    padding: 15px;
    background-color: red;
    color: white;
}

.imgcab1 {
    width: 49.5%;
    padding: 3px;
}

.imgcab2 {
    width: 24.5%;
    padding: 3px;
}

.fondocab1 {
    background-color: rgb(221, 221, 221);
    height: 100px;
}

.descripcabildo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

.preciocab1 {
    color: red;
    font-weight: bold;
}

/*PROPIEDAD 2*/

.propiedad2 h2 {
    font-size: 50px;
    color: gray;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.prop2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.descripechev1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    margin-bottom: 50px;
}

.propiedad2 li {
    list-style: none;
    font-size: 20px;
    margin-right: 30px;
}

.propiedad2 a {
    font-size: 30px;
    margin-left: 1px;
    padding: 15px;
    background-color: red;
    color: white;
}

.imgechev1 {
    width: 49.5%;
    padding: 3px;
}

.imgechev2 {
    width: 12.1%;
    padding: 3px;
}

.fondoechev1 {
    background-color: rgb(221, 221, 221);
    height: 100px;
}

.descripechev2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

.precioechev1 {
    color: red;
    font-weight: bold;
}