/* BUTTONS */

@mixin buttons {
    border-radius: .5em;
    padding: .5em;
}

/* CARDS */

@mixin cards {
    text-align: justify;
    text-indent: 1.5em;
    font-size: $font-s;
    padding: 1em 1em;
    background-color: $color-1;
    box-shadow: $shadow;
    border-radius: 1em;
    margin: .3em .7em;
    align-items: center;
    font-weight: $font-normal;
}

/*H1*/

@mixin h1__pages {
    grid-area: h1;
    text-align: center;
    font-size: $font-l;
    font-weight: $font-bold;
    color: $color-6;
    margin: .2em auto;
}

/*H2*/

@mixin h2 ($color-5, $font-s) {
    font-size: $font-s;
    font-weight: bold;
    margin: .7em auto .1em auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: $color-5;
}

@mixin propiedad__h2 {
    @include h2 ($color-7, $font-l);
    margin-top: .7em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* OTROS*/

@mixin propiedad__div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
}

@mixin propiedad__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;
}

@mixin propiedad__li {
    list-style: none;
    font-size: $font-xs;
}

@mixin propiedad__a {
    font-size: $font-xs;
    @include buttons;
    background-color: $color-6;
    color: $color-0;
}

@mixin propiedad__img1 {
    width: 50%;
    padding: .2em;
}

@mixin propiedad__img2 {
    width: 25%;
    padding: .2em;
}

@mixin propiedad__fondo {
    background-color: $color-2;
    height: 50px;
    margin: 0em .2em;
}

@mixin propiedad__ul2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    margin: 0em;
    padding: 0em .2em;
}

@mixin propiedad__precio {
    color: $color-6;
    font-weight: $font-bold;
}